# VS Code
.vscode/

# Python
__pycache__/
*.pyc
venv/
env/
.venv/

# Исполняемые файлы (не нужны в репозитории)
*.exe
*.dll
*.so
*.dylib

# Временные файлы
*.log
*.tmp

# Системные
.DS_Store
Thumbs.db